# Data Preprocessing Tools

## Importing the libraries

In [76]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [77]:
dataset = pd.read_csv("Data.csv")

In [78]:
dataset.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [79]:
# x = feature or independent variable
# when ever we talk about range, we have to specify the lower and upper bound
# Now lets get all deta except last column of teh dataset
x = dataset.iloc[:, :-1].values
# print(x)
# y = output or dependent variable
y = dataset.iloc[:, -1].values
# print(y)

In [80]:
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [81]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

|The above line gives idea about the data, mean what kind of data we have.

In [82]:
type(dataset)

pandas.core.frame.DataFrame

In [83]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [84]:
dataset.nunique()

Country      3
Age          9
Salary       9
Purchased    2
dtype: int64

In [85]:
dataset.Country.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [86]:
dataset.Purchased.unique()

array(['No', 'Yes'], dtype=object)

In [88]:
dataset["Country"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [89]:
print(dataset)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [90]:
# print(dataset)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

This shows how many null values, where they are

In [91]:
dataset.notnull().value_counts()

Country  Age    Salary  Purchased
True     True   True    True         8
         False  True    True         1
         True   False   True         1
dtype: int64

----------------------------------===========================------------------------------------------------

Taking care of missing data

## Encoding categorical data

### Encoding the Independent Variable

### Encoding the Dependent Variable

## Splitting the dataset into the Training set and Test set

## Feature Scaling